
html, body {
    background-color: rgb(247, 245, 224);
}

header {
    background-image: url(https://img1.cgtrader.com/items/704281/f7fa790dd2/aurora-borealis-3d-model-blend.png);
    color: #aaaadd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#head {
    text-align: center;
}

a {
    text-align: left;
    text-decoration: none;
}

a:link {
    color: #aaaadd;
}

a:hover {
    color: rgb(247, 245, 224);
}

a:visited {
    color: #37035f;
}

.title {
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    text-align: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: 600
}

div {
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    width: 90%;
    background-color: #bebeda;        
}

#gate {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

